body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#main-title {
    font-weight: 700;
    vertical-align: middle;
    font-size: 2em;
   
}

#main-logo {
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;

}





